<div class="explore-content">
    <div class="container">
        <div class="title">
            <span class="Explore-Our-Pricing-Options">
                Explore Our Pricing Options
            </span>

            <span class="Simple-and-affordable-price">
                Simple and affordable price
            </span>
        </div>

        <div class="flexbox">
            <div class="flex-item">

                <div class="time">
                    <img src="../../../assets/img/clock.png" alt="">
                    ภายใน 14:59
                </div>

                <div class="data">
                    <span class="dt-title">
                        <h2> Beginner</h2>
                    </span>
                    <div class="sale">
                        <span>299</span>
                        <h3>259</h3>
                        <p>บาท</p>
                    </div>
                    <div class="point">
                        <h3>12,500</h3>
                        <p>point</p>
                    </div>



                       
                    <div class="range-1">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" class="slider" (input)="changeColor($event)"> 
                        </div>
                        <div class="numb">
                            <p>4,100</p>
                            <p>12,500</p>
                            <p>23,500</p>
                           </div> 
                    </div>

    

                    <div class="grid-container">
                        <div class="grid-item text-left"><img src="../../../assets/img/check.png" alt=""></div>
                        <div class="grid-item text-left">
                            <span>ไม่มีโฆษณา</span> <span> ให้กังวลใจ</span><span> 1เดือน</span>
                        </div>
                        <div class="grid-item text-left"><img src="../../../assets/img/check.png" alt=""></div>
                        <div class="grid-item text-left-beginner"><span>เหมาะสำหรับ</span>
                            <span>ผู้เริ่มต้นใช้งาน</span></div>
                    </div>
                    <button>ซื้อ</button>
                </div>
            </div>





            <div class="flex-item-2">

                <div class="none">
                    <!-- <img src="../../../assets/img/clock.png" alt=""> -->

                </div>

                <div class="data">
                    <span class="dt-title2">
                        <h2> Regular</h2>
                    </span>
                    <div class="sale">

                        <h3>1,099</h3>
                        <p>บาท</p>
                    </div>
                    <div class="point">
                        <h3>42,000</h3>
                        <p>point</p>
                    </div>

                    <div class="range-1">

                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" class="slider" (input)="changeColor($event)">
                        </div>
                        <div class="numb-1">
                            <p>42,000</p>
                            <p>71,000</p>
                            <p>97,500</p>
                           </div> 
                    </div>

                    <div class="grid-container">
                        <div class="grid-item text-left2"><img src="../../../assets/img/check.png" alt=""></div>
                        <div class="grid-item text-left2">
                            <span>ไม่มีโฆษณา</span> <span> ให้กังวลใจ</span><span> 3 เดือน</span>
                        </div>
                        <div class="grid-item text-left2"><img src="../../../assets/img/check.png" alt=""></div>
                        <div class="grid-item text-left-beginner2"><span>เหมาะสำหรับ</span>
                            <span>ผู้เริ่มต้นใช้งาน</span></div>
                    </div>
                    <button>ซื้อ</button>
                </div>
            </div>
        </div>

        <div class="buttom">
            More price
            <div class="line"></div>
        </div>



    </div>
</div>







<app-footer></app-footer>

