<div class="play-voice-container">
    <div class="play-voice-content">
        <div class="content">
            <img class = "exampleImg" src="assets/play-voice/example.png">
            <div class="text">
                <h1>Good morning, today i am going to <br> present a topic on  ...</h1>
                <div class="description">
                    <div class="speaker">
                        <p>Speaker</p>
                        <img>
                        <p>Nadia</p>
                    </div>
                    <div class="lang">
                        <p>Language</p>
                        <img>
                        <p>English</p>
                    </div>
                    <div class="speed">
                        <p>Speed</p>
                        <p>Normal</p>
                    </div>
                </div>  
                <p>Recommended for : : Students , Employees and freelancers</p>
                <button img src="assets/play-voice/"></button>
            </div>
        </div>
        <img>
    </div>
</div>
