<div class="immerse-container">
    <h1>IMMERSE YOURSELF IN THE AMAZING WORLD OF VOICE CREATION</h1>
    <p>Hey Creators !! Here’s a deal to discover and giving a cool turn to your presentations that creates impact in the mindset of your audience</p>

    <div class="video-container">
    </div>
    <div class="bottom-container">
        <div class="text-container"> <p>Deliver the best of your creative skills with one click ► Type &
            <br>Generate Voices in different patterns in native speaker’s voice</p>
        </div>
        <button class="enter-btn">ENTER STUDIO!</button>
    </div>
</div>   
