.explore-container {
    font-family: 'Inter';
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 831px;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 700px;
    z-index: -1;
    object-fit: cover;
    margin-top: 70px;
}



h1 {
    font-size: 20px;
    font-weight: 450;
    margin-top: 160px;
}

h2 {
    font-size: 56px;
    font-weight: 700;
    background: -webkit-linear-gradient(270deg, #332160, #67224F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size:  24px;
    font-weight: 450;
    margin-top: 10px;
}

.middle-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 5px;
}

.grid-item {
    display: flex;     
    align-items: center;  
    justify-content: flex-start;
    width: 210px;
    height: 36px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    background-color: white;
}

.grid-item p {
    font-size: 16px;
    margin-left: 20px;
}

.grid-item p span {
    font-size: 14px;
    margin-left: 10px;
    color: #605E5C;
}

.category-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 800px;
    margin-top: 110px;
}

.grid-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid-item2 {
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    padding: 7px 40px; 
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
    color: #605E5C;
    white-space: nowrap; 
    margin: auto 0;
}

h4 {
    color: #605E5C;
    font-weight: 450;
    font-size: 16px;
    margin-top: 40px;
}
.button-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    display: inline-block;
    border: solid 1px #9EDCFF;
    margin-top: 20px;
    width: 400px;   
}

.try-btn {
    font-size: 32px;
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #403F93, #A74C6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: none;
    display: block;
    width: 100%;
    border-radius: 8px;
}





