<div class="explore-container">
    <img class =" bg" src="assets/explore/rainbowBG.png">
    <h1>BOTNOI VOICE</h1>
    <h2>ENGLISH TEXT TO SPEECH CONVERTER</h2>
    <h3>Explore the various segments where its super convenient to apply your botnoi generated voice <br> overs into multiple platforms</h3>
    <div class="middle-grid">
        <div class="grid-item"><img src="assets/explore/play.png"><p>Tom<span>Telling story</span></p></div>
        <div class="grid-item"><img src="assets/explore/play.png"><p>Tom<span>Telling story</span></p></div>
        <div class="grid-item"><img src="assets/explore/play.png"><p>Tom<span>Telling story</span></p></div>
    </div>

    <div class="category-grid">
        <div class="grid-row">
            <button class="grid-item2">Explainer Videos</button>
            <button class="grid-item2">Product Advertising</button>
            <button class="grid-item2">Banking Voice Notes</button>
            <button class="grid-item2">Corporate Videos</button>
            <button class="grid-item2">School Presentations</button>
        </div>
        <div class="grid-row">
            <button class="grid-item2">Research Explainers</button>
            <button class="grid-item2">Audio books</button>
            <button class="grid-item2">Training Videos</button>
            <button class="grid-item2">Podcasts & Talks</button>
            <button class="grid-item2">Product Demos</button>
        </div>
    </div>

    <h4>With More than 100+ applications ► Its all about your creation , let’s get started</h4>


    <div class="button-container">
        <button class="try-btn">TRY OUR STUDIO</button>
    </div>
    
</div>