<div class="content">
    <div class="register">
        <span class="Start-Exploring-Botnoi-AI-Voice-Generator-Today">
            <span class="text-style-1">Start Exploring</span>
            <span class="text-style-2">Botnoi AI <span class="text-style-3">Voice Generator Today.</span></span>

        </span>

        <div class="A2">
            <span class="Contact-us">
                Create for Free
            </span>
        </div>
    </div>


    <div class="footer">
        <div class="data">

            <div class="Nav">
                <img src="assets/img/logo-bnv.png" alt="">
                <p>Studio</p>
                <p>APIs</p>
                <p>Pricing</p>
                <p>SDocument</p>
                <p>Privacy&Policy</p>
            </div>


            <div class="icons">
                <img src="assets/img/mail 2.png" alt="">
                <img src="assets/img/facebook 2.png" alt="">
                <img src="assets/img/play 1.png" alt="">
                <img src="assets/img/twitter copy 2.png" alt="">
            </div>
        </div>

        
        <div class="line"></div>
        <p >©2023 Botnoi Group.</p>
    </div>
</div>