<div class="experience-container">
    <h1>Experience AI Voiceover on Your Own.</h1>
    <div class="description">
        <p>Explore a spectrum of voices to enhance your work experience even further. Botnoi Voice enabled everyone to select categories, 
        <br>languages and age ranges for your creative content – give it a go!
        </p>
    </div>
    

    <div class="frame">
        <div class="main-container">
            <div class="lang-btn-container">
                <button class="language-btn" *ngFor="let lang of TH_EN_flag" [ngClass]="{'active': lang.isActive}" (click)="toggleActive(lang)">
                    <img [src]="'assets/experience/' + lang.flag" [alt]="lang.EN_name"> {{ lang.EN_name }}
                </button>
            </div>
            <div class="chat-interface">
                <div class="chat-header">
                    <div class="chat-header">
                        <select>
                            <option *ngFor="let name of TH_EN_flag[0].va">
                                <img src="assets/experience/va.png" alt="{{ name }}"> {{ name }}
                            </option>
                        </select>
                    </div>                    
   
                </div>
                <div class="chat-box">
                    <textarea placeholder="แสดงตัวอย่างของแต่ละภาษา"></textarea>
                </div>
            </div>
            <div class="bottom-container">
                <div class="point">
                    <img src="assets/navBar/point.png">
                    <p>Unlimited generate and play</p>
                </div>
                <button class="play-button"><img src="assets/experience/play.png"></button>
            </div>
        </div> 
    </div>
    
        <button class="try-btn">TRY FULL VERSION</button>
    
    
    
</div>
